[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Change Wallpaper
Comment=Change to random wallpaper
Exec=change_wallpaper.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

