#pulseaudio-slider {
  background: @background;
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 0px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  background: transparent;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 100px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

#pulseaudio-slider highlight {
  min-width: 8px;
  min-height: 8px;
  border-radius: 0px;
  background: @color07;
}
