@import url("file:///home/dastarruer/.cache/wal/colors-waybar.css");

/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  color: @foreground;
  background: none;
}

window#waybar.hidden {
  opacity: 1;
}

#custom-rofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 16px;
  font-weight: 800;
  color: @background;
  background: @background;
  border: 3px solid @background;
  border-radius: 3px;
}

#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  padding-right: 4px;
}

#custom-rofi {
  background: @color6;
  padding: 0 6px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}

#workspaces button {
  color: @foreground;
  padding: 0 4px;
  margin: 0px 3px;
  min-width: 25px;
}

#workspaces button:hover {
  background: @color5;
}

#workspaces button.visible {
  background: @color2;
}

#workspaces button.visible:hover {
  background: @color2;
}

#workspaces button.active {
  background: @color2;
}

#workspaces button.active:hover {
  background: @color2;
}

#workspaces button.urgent {
  background: @color1;
}

/* ================================ */
/*            window                */
/* ================================ */
#window {
  color: @color5;
}

/* ================================ */
/*            tray                  */
/* ================================ */
#tray {
  padding: 0 6px 0 6px;
}

/* ================================ */
/*            disk                  */
/* ================================ */
#disk {
  color: @color1;
}

/* ================================ */
/*            cpu                   */
/* ================================ */
#cpu {
  color: @color3;
}

/* ================================ */
/*         temperature              */
/* ================================ */
#temperature {
  color: @color3;
}

#temperature.critical {
  color: @color1;
}

/* ================================ */
/*           backlight              */
/* ================================ */
#backlight {
  color: @color3;
}

/* ================================ */
/*           memory                 */
/* ================================ */
#custom-memory {
  color: @color4;
}

/* ================================ */
/*          pulseaudio              */
/* ================================ */
#pulseaudio {
  color: @color6;
}

#pulseaudio.muted {
  color: @color1;
}

/* ================================ */
/*           battery                */
/* ================================ */
#battery {
  color: @color10;
}

#battery.critical {
  color: @color1;
}

#battery.warning {
  color: @color3;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  color: @color2;
}
