#backlight {
  color: @foreground;
  background: @background;
  padding: 0 12px;
  margin: 0 4px;
  /* border: solid 2px @foreground; */
  border-radius: 0px;
}

#backlight-slider {
  background: @background;
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 0px;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  background: transparent;
  box-shadow: none;
}

#backlight-slider trough {
  min-height: 8px;
  min-width: 100px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.2);
}

#backlight-slider highlight {
  min-width: 8px;
  min-height: 8px;
  border-radius: 0px;
  background: @color7;
}
