@import url("/home/dastarruer/.config/waybar/colors.css");

/* ======================= */
/* Global Styles           */
/* ======================= */
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
  min-width: 28px;
  min-height: 28px;
}

window#waybar {
  background: transparent;
}

/* ======================= */
/* Interactive States      */
/* ======================= */
#custom-updates:hover,
#power-profiles-daemon:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#custom-power:hover,
#custom-sys-resources:hover,
#battery:hover,
#mpris:hover,
#pulseaudio.microphone:hover,
#pulseaudio.sink-muted:hover {
  opacity: 0.8;
}

/* ======================= */
/* Custom Widgets          */
/* ======================= */
#custom-nix {
  color: @foreground;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 14px;
  margin: 0 4px;
  border-radius: 8px;
}

/* ======================= */
/* Workspace Management    */
/* ======================= */
#workspaces {
  padding: 0;
  margin: 0 4px;
  border-radius: 8px;
  /* background: rgba(255, 255, 255, 0.1); */
}

#workspaces button {
  color: @foreground;
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

#workspaces button.active {
  color: @color7;
  background: rgba(255, 255, 255, 0.1);
}

@keyframes urgent-pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* ======================= */
/* System Components       */
/* ======================= */
#clock,
#mpris,
#custom-monitors,
#cpu,
#disk,
#memory,
#tray,
#privacy,
#custom-sys-resources,
#custom-updates,
#power-profiles-daemon,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#backlight,
#backlight-slider,
#battery,
#custom-power {
  color: @foreground;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 8px;
}

/* Specific States */
#custom-updates.green {
  color: @color02;
  background: rgba(0, 255, 0, 0.1);
}
#custom-updates.yellow {
  color: @color03;
  background: rgba(255, 255, 0, 0.1);
}
#custom-updates.red {
  color: @color01;
  background: rgba(255, 0, 0, 0.1);
}

#power-profiles-daemon.performance {
  color: @color01;
  background: rgba(255, 0, 0, 0.1);
}
#power-profiles-daemon.power-saver {
  color: @color02;
  background: rgba(0, 255, 0, 0.1);
}

#network.disabled {
  color: @color01;
  background: rgba(255, 0, 0, 0.1);
}
#bluetooth.disabled {
  color: @color08;
  background: rgba(0, 0, 255, 0.1);
}

#backlight {
    color: @foreground;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 12px;
    margin: 0 4px;
    /* border: solid 2px @foreground; */
    border-radius: 8px;
}

#backlight-slider {
    background: rgba(255, 255, 255, 0.1);
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    background: transparent;
    box-shadow: none;
}

#backlight-slider trough {
    min-height: 8px;
    min-width: 100px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
}

#backlight-slider highlight {
    min-width: 8px;
    min-height: 8px;
    border-radius: 4px;
    background: @color7;
}

#pulseaudio.sink-muted {
  color: @color03;
  background: rgba(255, 255, 0, 0.1);
}
#pulseaudio.microphone.source-muted {
  color: @color01;
  background: rgba(255, 0, 0, 0.1);
}

#pulseaudio-slider {
  background: rgba(255, 255, 255, 0.1);
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 8px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  background: transparent;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 100px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

#pulseaudio-slider highlight {
  min-width: 8px;
  min-height: 8px;
  border-radius: 4px;
  background: @color07;
}


#battery.charging {
  color: @color04;
}
#battery.warning {
  color: @color01;
}
#battery.critical,
#battery.plugordie {
  color: @color02;
}

/* Tooltips */
tooltip {
  color: @foreground;
}
